<div id="hero">
  <div class='container'>
    <div class="hero-unit">
      <div id="hero-text">
        <h2>Simple & Secure Data Feeds</h2>
        <p>Collaborating on spreadsheets can be painful. It should be so much simpler! Empower your team now with data feeds from within Excel.</p>
        <%= simple_form_for @signup, html: { class: 'form-horizontal' } do |f| %>
          <%= f.input :name %>
          <%= f.input :email, required: false %>
          <div class="control-group">
            <div class="controls">
              <%= f.button :submit, 'Sign Up Now!'%>
            </div>
          </div>
        <% end %>
      </div>
      <div id="hero-video">
        <iframe src="http://player.vimeo.com/video/61013178" width="350" height="261" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>
  </div>
</div>
