<div id="hero">
  <div class='container'>
    <div class='row'>
      <div class="hero-unit">
        <h2>Simple & Secure Data Feeds</h2>
        <p>Collaborating on spreadsheets can be painful. It should be so much simpler! Empower your team now with data feeds from within Excel.</p>
      </div>
    </div>
  </div>
</div>
