<div id="hero">
  <div class='container'>
    <div class="hero-unit">
      <h2>Simple & Secure Data Feeds</h2>
      <p>As of 22 May 2013, ProcessClick has stopped operating. We are truly grateful to all who have supported us thus far. We have learned a lot from this journey and seek to bring you better products in the future!</p>
    </div>
  </div>
</div>
