<div id="hero">
  <div class='container'>
    <div class='row'>
      <div class="hero-unit">
        <h2>Simple & Secure Data Channels</h2>
        <p>Collaborating on spreadsheets can be painful in a fast-faced world where mobility matters. Have your team create, publish and subscribe to data channels from within Excel to work better.</p>
      </div>
    </div>
  </div>
</div>
